@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cake Recipes</h1>
    <p>Here you will find all the recipes for good Cakes</p>
</div>

<a asp-action="Index" asp-controller="CakeRecipes">Cakes</a>